<div class='home-page'>
  <p>
    Welcome to TARIE, where you can keep track of what you do everyday. Please signup and enjoy this app. 
  </p>
  <div class='non-user'>
    <div class='sign-up'>
      <%= link_to 'Sign up', new_user_registration_path %>
    </div>
    <div class='log-in'>
      <%= link_to 'Log in', new_user_session_path %>
    </div>
  </div>
</div> 

