<div class='item-form'>
  <%= form_for @item do |f| %>
      <div class='new-title-box'>
        <%= f.text_field :title, placeholder: 'Title' %>
      </div>
 
      <div class='new-desc-box'>
        <%= f.text_area :description, placeholder: 'Task' %>
      </div>
   

      <div class='new-submit'>
        <%=  f.submit %>
      </div>
<% end %>
</div> 



 