@import "bootstrap-sprockets";
@import "bootstrap"; 



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




h1, html {
    background-color: white;
    color: #919191;
    font-family: monospace;
    font-weight: 400;
    font-size: 50px;
    text-rendering: optimizeLegibility;
}






/* footer */

.footer {
   text-align: center;
   color: green;
   padding:5px;	
   clear:both; 	
   margin-top: 260px;
}






/* nav bar */

.nav {
	height: 20px;
	border-bottom:1px solid #e7e7e7;
    margin-top: -30px;
    margin-left:auto;
    margin-right:auto;
    height: 20px;
    width:1200px;
}

.nav, a:link {
    text-decoration: none;
}

.user_nav {
	float: right;
	margin: 0 5% 0 0;
}


.logo {
	float: left;
	margin-right: 800px;
}

.all-items {
	float: left;
	margin-right: 8px;
}

.new-items {
	float: left;
	margin-right: 8px;
}









/* index page */

.item-box {
	margin: auto;
	border: 1px solid #e7e7e7;
    border-radius: 25px;
	padding: 10px;
	width: 60%;
	text-align: center;
	margin-top: 40px;
	font-family: fantasy;
}



.item-edit {
    color: Green;
    font-weight: bold;
    margin: 5px;
}



.item-complete {
    color: black;
    font-weight: bold;
    margin: 5px;

}



.item-delete {
    color: red;    
    font-weight: bold;
    margin: 5px;
}









/* completed box */

.completed-item-box {
	margin: 10px;
	padding: 10px;
}







/* non user */

.home-page {
	text-align: center;
}


.sign-up {
    border: 1px solid gray;
    background-color: deepskyblue;
    border-radius: .5em;
    padding: 5px;
    float: left;
    margin: 0 595px 10px;
}


.log-in {
    border: 1px solid gray;
    background-color: deepskyblue;
    border-radius: .5em;
    padding: 5px;
    float: left;
    margin: 0 600px;
}







/* sign up*/


.user-signup {
	text-align: center;
}







/* sign in */

.user-login {
	text-align: center;
}







/* new, edit items */

.new-item {
    text-align: center;
}


.new-desc-box {
	margin-top: 30px;
}



.new-desc-label {
	margin: 30px 0 -30px 0;
}



.new-submit {
    margin: 0 0 40px 0;
    color: Green;
}



.edit-item {
    text-align: center;
}



















